<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<h1>Friend accepted</h1>
		<p>
			Hi <%= @user.first_name %>!
		</p>
		<p>
			Great news! <%= @friend.first_name %> has accepted your friend request. Have fun!
			
		</p>
	</body>
</html>








