<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<h1>Friend request</h1>
		<p>
			Hi <%= @friend.first_name %>!
		</p>
		<p>
			<%= @user.first_name %> wants to be friends on Taskmama. Isn't that great? Have fun!
		</p>
	</body>
</html>











 

